$ds-background-color: #010409;

$ds-pure-white: #ffffff;
$ds-primary-color: #0070d2;
$ds-primary-dark-color: #005fb2;
$ds-light-grey: rgb(223, 225, 230);
$ds-dark-grey: rgba(0, 0, 0, 0.6);

$ds-color-text: #f0f6fc;
$ds-color-text-light: #a2a2a2;
$ds-border-color: #3d444d;
$ds-secondary-background-color: #0d1117;
$ds-secondary-background-color--hover: #161b22;
